<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="style.css">
  <script>
    console.log("スタイル適用完了。chromeで読み込み時にtransitionが発生しないようにする。");
  </script>
  <title>新規登録画面</title>
</head>

<body>
  <header>
    <div class="headerWrapper">
      <div class="headerTitle">
        <h3>Laravel</h3>
      </div>
      <nav>
        <a href="/">Login</a>
        <a href="/register">Register</a>
      </nav>
    </div>
  </header>

  <% if(typeof errors_array != 'undefined') { %>
    <div class="registerErrorContainer">
      <ul>
        <% for (let n in errors_array) { %>
        <li>
          <%= errors_array[n].msg %>
        </li>
        <% } %>
      </ul>
    </div>
  <% } %>

  <div class="loginContainer">
    <div class="ContainerTitle">
      <span>Register</span>
    </div>
    <div class="formContainer">
      <form action="/register" method="POST">
        <div class="nameForm">
          <span>Name</span>
          <input type="text" name="username" value="<% if(typeof errors_array != 'undefined') { %><%= username %><% } %>">
        </div>
        <div class="emailForm">
          <span>E-mail Address</span>
          <input type="email" name="email" value="<% if(typeof errors_array != 'undefined') { %><%= email %><% } %>">
        </div>
        <div class="passwordForm">
          <span>Password</span>
          <input type="password" name="password">
        </div>
        <div class="confirmForm">
          <span>Confirm Password</span>
          <input type="password" name="confirmPassword">
        </div>
        <div class="loginBtnForm">
          <button class="loginBtn">Register</button>
        </div>
      </form>
    </div>
  </div>
</body>

</html>
